<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> Home Page</h1>
    <p>Welcome to <%= title %> Home Page</p>
  </body>
</html>
