<!DOCTYPE html>
<html>

<head>
    <title>
        Results Page
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Results Page
    </h1>
    <p>Results:</p>
    <% data["Search"].forEach(function(movie){ %>
    <h3><%= movie["Title"] %></h3>
    <img src="<%= movie["Poster"] %> width="150px" />
    <% }); %>
    <a href="/"> Search Again</a>
</body>

</html>