<!DOCTYPE html>
<html>

<head>
    <title>
        Search Page
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h3>
        Search For a Movie by Title
    </h3>
    <form action="/results" method="GET">
        <input type="text" placeholder="Type Here" name="movieSearch" >
        <input type="submit">
    </form>
</body>

</html>