/* SIMPLE css  */

h3 {
    color: #ec0000;
    border: 3px solid black;
}

li {
    font-weight: bold;
}

h4 {
    background-color: #1eff00;
    color: white;
}

body {
    background: url("https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}