/* Reading: https: //code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048 */

/* star */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* descendant */
li a {
    background-color: #ec0000;
}
/* adjacent or next item after 1st*/
h3 + ul {
    border: 3px solid black;
}
/* attribute */
a[href="#"]{
    font-weight: bold;
}
/* nth of type */
ul :nth-of-type(odd){ /* even, odd or number */
    background-color: coral;
}