<% include partials/header %>

    <h1>
        Welcome to YelpCamp
    </h1>
    <p><br />&nbsp;<br /></p>
    <a href="/campgrounds">Visit the campgrounds page</a>

    <% include partials/footer %>