extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
            | Trying to use pug?  Why not use plain HTML or EJS?
          p
            a.btn.btn-dark.btn-lg(href='https://medium.com/@robmuh/why-i-dropped-jade-pug-bf440c2269ae') Dummy Button
        .col-md-5
          img(src='images/mouse.png' width="200px")
  .container
    .row
      .col-md-4
        .well
          h4 Busted Hardware?
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .col-md-4
        .well
          h4 Software Bugs?
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .col-md-4
        .well
          h4 Need a New Build?
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
