@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

* {
    font-family: 'Noto Sans',
    sans-serif;
}

.box {
    width: 200px;
    padding: 60px;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.green {
    background-color: rgb(33, 231, 33);
}

.blue {
    background-color: rgb(57, 134, 211);
}

.orange {
    background-color: rgb(255, 157, 28);
}